@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-clr-1 {
    color: #c09d73
}

.primary-clr-2 {
    color: #d8ad5d
}

.custom-bg {
    background-image: url('/Images/b2.jpg'), linear-gradient(180deg, rgba(0, 0, 10, 0.8) 0%, rgba(133, 133, 146, 0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}




input[type="date"i] {
    font-family: monospace;

}